<!DOCTYPE html>
<html>
<head>
  <title>Add Product</title>
</head>
<body bgcolor="yellow">
  <h1 align="center">Add Product</h1>
  <div align="center">
  <form action="/addproduct" method="POST" >
    <label for="pid">Product ID :</label><br>
    <input type="number" name="pid" required><br><br>

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>
    
    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" required><br><br>
    
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required></textarea><br>
    
    <input type="submit" value="Add Product">
  </form>
</div>
</body>
</html>
